/*body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    color: #fff;
    background-color: #000;
}

a {
    color: #d00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

div#hud > div.hud-panel {
    position: absolute;
    padding: 5px;
}

div#hud > div.hud-panel.top-left {
    top: 0px;
    left: 0px;
    text-align: left;
}

div#hud > div.hud-panel.top-right {
    top: 0px;
    right: 0px;
    text-align: right;
}

div#hud > div.hud-panel.bottom-left {
    bottom: 0px;
    left: 0px;
    text-align: left;
}

div#hud > div.hud-panel.bottom-right {
    bottom: 0px;
    right: 0px;
    text-align: right;
}

div#loading-container {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 25%;
    height: 25%;
    text-align: center;
    display: none;
}*/

.months-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 25px;
}
.months-slider .range {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 5px;
}
.months-slider .range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
  transition: 200ms ease-out;
}

.months-slider .range input:focus {
  outline: 0;
}
.months-slider .range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 2em;
  height: 2em;
  margin: -12px 0 0;
  border-radius: 50%;
  background: #F1F1F1;
  box-shadow: 0px 0px 0px 2px #F1F1F1;
  border: 4px solid #333;
  cursor: pointer;
}
.months-slider .range input::-moz-range-thumb {
  position: relative;
  width: 2em;
  height: 2em;
  margin: -12px 0 0;
  border-radius: 50%;
  background: #F1F1F1;
  box-shadow: 0px 0px 0px 2px #F1F1F1;
  border: 4px solid #333;
  cursor: pointer;
}
.months-slider .range input::-ms-thumb {
  position: relative;
  width: 2em;
  height: 2em;
  margin: -12px 0 0;
  border-radius: 50%;
  background: #F1F1F1;
  box-shadow: 0px 0px 0px 2px #F1F1F1;
  border: 4px solid #333;
  cursor: pointer;
}
.months-slider .range input::-webkit-slider-runnable-track {
  width: 100%;
  height: calc(2em / 6);
  cursor: pointer;
  background-color: #B2B2B2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.months-slider .range input::-moz-range-track {
  width: 100%;
  height: calc(2em / 6);
  cursor: pointer;
  background-color: #B2B2B2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.months-slider .range input::-ms-track {
  width: 100%;
  height: calc(2em / 6);
  cursor: pointer;
  background-color: #B2B2B2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.months-slider .range input:focus {
  background: none;
}
.months-slider .range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.months-slider .range-labels {
  margin: 0 auto;
  margin-top: calc(2em - .5em);
  width: 80%;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.months-slider .range-labels .month {
  position: relative;
  text-align: center;
  color: #B2B2B2;
  font-size: calc(1.5em / 1.4);
  cursor: pointer;
  transform: rotate(-22.5deg);
  transition: 100ms ease-out;
}
.months-slider .range-labels .active {
  color: #F1F1F1;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 0.5em;
  padding-left: 1em;
  color: #f1f1f1;
  font-family: 'helvetica neue', sans-serif;
}
.container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px soild #ccc;
}
.container #li-brislington {
  border-left: 15px solid #e77784;
}
.container #li-brislington p, .container #li-brislington span {
  color: #e77784;
  font-size: 13px;
}
.container #li-fishponds {
  border-left: 15px solid #8285dc;
}
.container #li-fishponds p, .container #li-fishponds span {
  color: #8285dc;
  font-size: 13px;
}
.container #li-parsons_st {
  border-left: 15px solid #5bbeca;
}
.container #li-parsons_st p, .container #li-parsons_st span {
  color: #5bbeca;
  font-size: 13px;
}
.container #li-newfoundland_way {
  border-left: 15px solid #ae74c5;
}
.container #li-newfoundland_way p, .container #li-newfoundland_way span {
  color: #ae74c5;
  font-size: 13px;
}
.container #li-rupert_st {
  border-left: 15px solid #edb850;
}
.container #li-rupert_st p, .container #li-rupert_st span {
  color: #edb850;
  font-size: 13px;
}
.container #li-wells_rd {
  border-left: 15px solid #9ccb47;
}
.container #li-wells_rd p, .container #li-wells_rd span {
  color: #9ccb47;
  font-size: 13px;
}
.container li {
  padding: 1em;
}
.container h3 {
  margin: 0;
}
.container p {
  margin: 0.5em 0;
  color: #ccc;
}
.container span {
  color: #ccc;
}

.radio-container {
  position: absolute;
  bottom: 100px;
  right: 0;
  padding: .5em 1em;
  padding-bottom: 1em;
  font-family: 'helvetica neue', sans-serif;
  color: #fff;
}

fieldset {
  border: none;
}

.input-label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
}

.hidden, [type="radio"] {
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.active-icon, [type="radio"] + span:before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: .8em;
  vertical-align: -0.15em;
  border: 0.125em solid #333;
  box-shadow: 0 0 0 0.1em #aaa;
  transition: 200ms ease-out;
}

[type="radio"] + span {
  display: inline-block;
  color: #aaa;
}

[type="radio"] + span:before {
  border-radius: 50%;
}

[type="radio"]:checked + span {
  color: #f1f1f1;
}

[type="radio"]:checked + span:before {
  background-color: #f1f1f1;
  box-shadow: 0 0 0 0.15em #f1f1f1;
}

[type="radio"]:focus + span:before {
  transform: scale(1.2);
}
